<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-googlevision-plugin"
    version="1.0.7">
    <name>Cordova Google Vision Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/erikeuserr/cordova-googlevision-plugin.git</repo>
    <issue>https://github.com/erikeuserr/cordova-googlevision-plugin/issues</issue>

    <!-- android -->
    <platform name="android">
        <framework src="src/android/com/erikeuserr/build.gradle" custom="true" type="gradleReference"/>
        <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <clobbers target="GoogleVisionPlugin" />
      </js-module>

      <!-- Add the GoogleVisionScanner activity to the manifest -->
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="com.erikeuserr.GoogleVisionActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:windowSoftInputMode="adjustResize"></activity>
      </config-file>
      
      <!-- Add camera permission to manifest -->
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.CAMERA" />
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr" />
      </config-file>

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GoogleVisionPlugin">
          <param name="android-package" value="com.erikeuserr.GoogleVisionPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/erikeuserr/GoogleVisionActivity.java" target-dir="src/com/erikeuserr/" />
      <source-file src="src/android/com/erikeuserr/GoogleVisionPlugin.java" target-dir="src/com/erikeuserr/" />

      <resource-file src="src/android/com/erikeuserr/res/layout/activity_main.xml" target="res/layout/activity_main.xml" />
    </platform>

</plugin>
